/* FIGHT! BATTLE CSS OUCH! OH! NO! BATTLE CSS ENGUARD! */
.flicker-animation {
  animation: flicker 0.3s infinite alternate;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.chill-animation {
  animation: chill .285s infinite alternate;
}

@keyframes chill {
  0% {
    transform: scale(100%);
  }
  100% {
    transform: scale(150%);
  }
}

.someone-died-box {
  position: absolute;
  top: 300px;
  left: 500px;
  color: red;
  font-size: 36px;
  padding: 20px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
};

.battle-options {
  border: 1px solid black;
}

.health-change-indicator {
    position: absolute;
    top: 350px;
    right: 165px; 
    color: red;
    text-shadow: 1px 1px 1px black;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    /* z-index: 999; */
    text-align: center;
}

.enemy-health-change-indicator {
  position: absolute;
  top: 650;
  left: 165px;
  color: red;
  text-shadow: 1px 1px 1px black;
  padding: 10px;
  border-radius: 5px;
  font-size: 24px;
  /* z-index: 999; */
  text-align: center;
}

.button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fight-button,
.chill-button {
  width: 150px;
  height: 40px;
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
  text-shadow: 1px 1px 1px black;
}

.player-summary {
  width: 250px;
}

.label {
  font-size: 32px;
  font-weight: bold;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50px;
  color: black;
}

.max {
  height: 35px;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  flex: 1;
  background-color: lightgray;
}
.value {
  height: 100%;
  background-color: #0566fa;

  transition: 0.35s;
}

.user,
.opponent {
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
}
.hud {
  gap: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.hudChild {
  flex: 1;
  height: 200px;
}
.gameHeader {
  font-size: 48px;
  color: #fdac00;
  text-shadow: 0px 0px 5px #7f0000;
  font-family: 'Press Start 2P', cursive;
}
.summary {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.opponent .summary {
  align-items: flex-start;
  justify-content: flex-end;
}
.characters {
  width: 100%;
  text-align: center;
}
.gameImages {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  box-sizing: border-box;
}

.characters .gameImages img {
  max-height: 25vh;
  min-height: 150px;
}

/* ALL STUFF FOR FUTURE ANIMATION OR ACTION BELOW */

.static {
  transform: translateX(0px);
  transform: translateY(0px);
  transition: 0.5s;
}

.playerSprite .attack {
  transition: 0.1s;
  transform: translateX(100px);
}
.opponentSprite .attack {
  transition: 0.1s;
  transform: translateX(-100px);
}

.magic {
  transition: 0.2s;
  transform: translateY(-25px);
  animation: shake 0.5s infinite;
}

.damage {
  opacity: 1;
  animation: flash 0.3s 0.3s infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg) translateY(-25px);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg) translateY(-25px);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg) translateY(-25px);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg) translateY(-25px);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg) translateY(-25px);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg) translateY(-25px);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg) translateY(-25px);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg) translateY(-25px);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg) translateY(-25px);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg) translateY(-25px);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg) translateY(-25px);
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}