.char-confirm-button {
  margin-bottom: 10px;
  width: 120px;
  height: 35px;
  background-color: rgba(0, 0, 255, 0.668);
  color: white;
  text-shadow: 1px 1px 1px black;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.char-container {
  height: 100px;
  width: 100px;
}

.main {
  display: flex;
  border-radius: 5px;
  gap: 5px;
  padding: 5px;
  align-items: center;
  background-color: white;
}

.select-character {
  width: 100%;
  height: 100%;
}

.who-are-you {
  padding-top: 15px;
  padding-bottom: 7px;
  font-family: 'Acme', sans-serif;
  font-size: 2.8em;
  font-weight: 600;
  line-height: .8;
  color: var(--clr-light);
}

.background {
  width: 100%;
  height: 100vh;
  background-color: var(--clr-nav);
}

.characters-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.character-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
}

.character-option {
  width: 33%;
  cursor: pointer;
  border: 1px solid #e3e3e300; 
  border-radius: 25px;
  padding: 15px;
}
.character-option:hover {
  border: 1px solid #609bf3; 
  border-radius: 25px;
}
.character-option:active {
  border: 1px solid #e3e3e3c3; 
  transform: scale(98%);
  transition: transform 0.2s;
}
.selected {
  border: 1px solid #e3e3e3c3; 
  border-radius: 25px;
  padding: 15px;
}

.char-img {
  height: 120px;
  width: 120px;
  border-radius: 20px;
  margin-bottom: 5px;
}

.class-name {
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-size: 2.0em;
  font-weight: 600;
  line-height: .8;
  color: var(--clr-light);
  margin-bottom: 10px;
}

.stat-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.stat-bar-box {
  border: 1px solid var(--clr-light);
  width: 100%;
  border-radius: 15px;
  padding: 10px;
}

.char-main {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  align-items: center;
  background-color: transparent;
}

.label-box {
  width: 20%;
  display: flex;
  justify-content: left;
}

.bar-box {
  width: 80%;
  display: flex;
  justify-content: right;
}

.char-label {
  font-size: 22px;
  font-weight: bold;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 50px;
  color: var(--clr-light);
}

.char-max {
  height: 15px;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  /* flex: 1; */
  width: 200px;
  background-color: lightgray;
}

.char-value {
  height: 100%;
  background-color: #0566fa;
  transition: 0.35s;
  position: relative;
}

.char-mod {
  position: absolute;
  right: 0px;
}

.char-desc {
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-size: 1.0em;
  font-weight: 600;
  line-height: .9;
  color: var(--clr-light);
  margin: 15px 0px 0px 0px;
}

.name-input {
  margin: 20px 0px 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-label {
  font-family: "Acme", sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: .8;
  color: var(--clr-light);
  margin-bottom: 5px;
}

.name-input-box {
  border: 1px solid var(--clr-light);
  border-radius: 6px;
  padding: 4px;
  padding-top: 5px;
  font-family: "Avant Garde", sans-serif;
  font-size: 1em;
  color: #0566fa;
  background-color: var(--clr-nav);
  margin-bottom: 5px;
}
