.continue-button {
  width: 150px;
  height: 40px;
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
  text-shadow: 1px 1px 1px black;
  z-index: 20;
  cursor: pointer;
}

.image-container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.page-title {
  font-family: "Luckiest Guy", sans-serif;
  font-size: 3.5rem;
  text-shadow: 
  2px 2px 2px #000000a4,   /* North-East */
  -2px -2px 2px #000000a4, /* South-West */
  2px -2px 2px #000000a4,  /* South-East */
  -2px 2px 2px #000000a4;  /* North-West */
  position: absolute;
  top: 90px;
  z-index: 20;
}

.image-text-container {
  font-family: "Acme", sans-serif;
  font-size: 2.2em;
  text-shadow: 
  2px 2px 2px #000000a4,   /* North-East */
  -2px -2px 2px #000000a4, /* South-West */
  2px -2px 2px #000000a4,  /* South-East */
  -2px 2px 2px #000000a4;  /* North-West */
  width: 1000px;
  height: 200px;
  position: absolute;
  bottom: 0px;
  z-index: 20;
}

.cutscene-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 1280px;
  height: 720px;
}

.page-image {
  background-size: cover;
  background-position: center;
}