/* DIALOGUE CSS - START */

.options-wrapper {
  height: 180px;
}

.index-module_type__E-SaG {
  margin-left: 20px;
  margin-right: 20px;
}

.npc-image-container {
  z-index: 0;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
}
.dialogue-container {
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%; 
  color: white;
  text-align: center;
}

.npc-text {
  font-family: "Luckiest Guy", cursive;
  font-size: 32px;
  text-shadow: 
    2px 2px 2px black,   /* North-East */
    -2px -2px 2px black, /* South-West */
    2px -2px 2px black,  /* South-East */
    -2px 2px 2px black;  /* North-West */
  /* margin-bottom: 20px; */
  height: 160px;
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 176px;
  text-align: left;
}

.option {
  font-family: "Luckiest Guy", cursive;
  font-size: 19px;
  text-shadow: 
    2px 2px 2px black,   /* North-East */
    -2px -2px 2px black, /* South-West */
    2px -2px 2px black,  /* South-East */
    -2px 2px 2px black;  /* North-West */
  margin: 10px 0;
  cursor: pointer;
}

.option:hover {
  text-decoration: underline;
  color: rgb(220, 187, 0);
}

.skeleton {
  /* background-color: red;
  color: aqua; */
  display: flex;
  margin-bottom: 150px;
  position: absolute;
}

.skeleton-box {
  margin-bottom: 50px;
}

.placeholder {
  font-weight: bold;
  font-size: 24px;
}

.title-container {
  z-index: 20;
  position: absolute;
  top: 50px;
}

.options-wrapper {
  z-index: 20;
  position: absolute;
  bottom: 20px;
}


/* DIALOGUE CSS - END */