.inv-icon-container {
  width: 40px;
  height: 40px;
  background-color: #000000a1;
  border: 3px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
  position: absolute;
  top: 10px;
  right: 60px;
  cursor: pointer;
}
.inv-icon-container:hover {
  background-color: #000000bd;
}
.inv-icon-container:active {
  transform: scale(90%);
  transition: transform 0.1s;
}

.player-icon {
  width: 20px;
}

.inv-container {
  background-color: #00000090;
  border: 3px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
  position: absolute;
  width: 1180px;
  height: 620px;
  margin: 20px;
}

.exit-icon-container {
  width: 40px;
  height: 40px;
  background-color: #0000007d;
  border: 3px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.exit-icon-container:hover {
  background-color: #000000af;
}
.exit-icon-container:active {
  transform: scale(90%);
  transition: transform 0.1s;
}

.exit-icon {
  font-family: 'VT323', monospace;
  font-size: 2.2em;
  font-weight: 600;
  text-align: center;
}

.inv-content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inv-header {
  position: absolute;
  top: 40px;
}

.inv-header-text {
  font-family: 'VT323', monospace;
  font-size: 4em;
  font-weight: 600;
  text-align: center;
  line-height: .85;
  color: white; 
  border-bottom: 3px solid white;
  width: 250px;
}
