.main-character {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  /* border: 2px solid black; */
}

.map-container {
  display: grid;
  position: absolute;
  z-index: 1;
}

.fore-container {
  display: grid;
  position: absolute;
  z-index: 99;
}

.npc-container {
  display: grid;
  position: absolute;
  z-index: 2;
}

.collision-container {
  display: grid;
  position: absolute;
  z-index: 2;
}

.collision-zone {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  position: absolute;
  opacity: 60%;
}

.player-zone {
  position: absolute; 
  opacity: 60%;
  z-index: 11; 
}

.interaction-zone {
  position: absolute; 
  opacity: 60%;
  z-index: 10; 
}

.gate-zone {
  position: absolute; 
  opacity: 60%;
  z-index: 10; 
}

.NPC {
  position: absolute; 
  z-index: 9; 
}

.message-box {
  background-color: var(--clr-light);
  width: 20px;
  border: 2px solid var(--clr-dark);
  border-radius: 5px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px; 
  z-index: 998;
}

.message-text {
  color: var(--clr-dark);
  font-family: 'VT323', monospace;
  font-size: 1em;
  font-weight: 600;
  line-height: .8;
  transform: scaleY(85%);
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 999;
}