.tooltip {
  border: 1px solid #eeeeee;
  padding: 10px;
  border-radius: 10px;
  z-index: 900;
  position: absolute;
  width: 150px;
  background-color: rgba(0, 0, 255, 0.5);
  color: white;
  text-shadow: 1px 1px 1px black;
}

.tooltip-text {
  font-family: 'VT323', monospace;
  font-size: 1em;
  font-weight: 600;
}