@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.google.com/specimen/Sofia+Sans+Condensed?stroke=Sans+Serif');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--clr-light);
  background-color: var(--clr-dark);
  /* background-color: #000000; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-light: #ffffff;
  --clr-dark: #313131;
  --clr-break: #d6d7db;
  --clr-accent: #9e5f0e;
  --clr-accent-light: #c87c18;
  --clr-text: #6f0505;
  --clr-nav: #0000008e;
  --clr-wiki: #ffffff90;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 650px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #12b615;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.game-container {
  margin: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50%;
  margin-right: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--clr-dark); */
  background-color: #000000;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  transform: translateX(-50%);
}

.content {
  flex-grow: 1;
}
