@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.google.com/specimen/Sofia+Sans+Condensed?stroke=Sans+Serif');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--clr-light);
  background-color: var(--clr-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-light: #ffffff;
  --clr-dark: #313131;
  --clr-break: #d6d7db;
  --clr-accent: #9e5f0e;
  --clr-accent-light: #c87c18;
  --clr-text: #6f0505;
  --clr-nav: #0000008e;
  --clr-wiki: #ffffff90;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 650px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #12b615;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* END OF BASE CSS ** END OF BASE CSS ** END OF BASE CSS ** END OF BASE CSS **/

.battle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-container {
  margin: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-dark);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  border: 1px solid lightgrey; /* remove when window is stable */
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 50px;
}

.main-character {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  /* border: 2px solid black; */
}

.map-container {
  display: grid;
  position: absolute;
  z-index: 1;
}

.fore-container {
  display: grid;
  position: absolute;
  z-index: 99;
}

.npc-container {
  display: grid;
  position: absolute;
  z-index: 2;
}

.collision-container {
  display: grid;
  position: absolute;
  z-index: 2;
}

.collision-zone {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  position: absolute;
  opacity: 60%;
}

.player-zone {
  position: absolute; 
  opacity: 60%;
  z-index: 11; 
}

.interaction-zone {
  position: absolute; 
  opacity: 60%;
  z-index: 10; 
}

.gate-zone {
  position: absolute; 
  opacity: 60%;
  z-index: 10; 
}

.NPC {
  position: absolute; 
  z-index: 9; 
}

.message-box {
  background-color: var(--clr-light);
  width: 20px;
  border: 2px solid var(--clr-dark);
  border-radius: 5px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px; 
  z-index: 998;
}

.message-text {
  color: var(--clr-dark);
  font-family: 'VT323', monospace;
  font-size: 1em;
  font-weight: 600;
  line-height: .8;
  transform: scaleY(85%);
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 999;
}

/* WIKI CSS BELOW */


.wikiSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wikiContainer {
  margin-top: 40px;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  border: 1px solid var(--clr-dark);
  background-color: var(--clr-nav);
  border-radius: 25px;
  padding: 40px;
}

.wiki-page-link {
  border: 2px solid var(--clr-light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 20px;
  flex-direction: row;
  border-radius: 15px;
  background-color: var(--clr-wiki);
  margin: 15px;
  cursor: pointer;
  width: 350px; 
}
.wiki-page-link:hover {
  border: 2px solid var(--clr-text);
  transform: scale(102%);
  transition: transform 0.2s;
}
.wiki-page-link:active {
  border: 2px solid var(--clr-accent);
  transform: scale(99%);
  transition: transform 0.2s;
}

.wiki-link-img-container {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 30%;
}

.wiki-link-img {
  width: 100px;
  border-radius: 10px;
  border: 1px solid var(--clr-light);
}
.wiki-page-link:hover .wiki-link-img {
  border: 1px solid var(--clr-text);
}
.wiki-page-link:active .wiki-link-img {
  border: 1px solid var(--clr-accent);
}

.wiki-label-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.wiki-label {
  font-family: 'Sofia Sans Condensed', sans-serif;
  font-size: 1.6em;
  font-weight: 600;
  line-height: .8;
  color: var(--clr-dark);
  transform: scaleY(95%);
  margin-left: 10px;
}
.wiki-page-link:hover .wiki-label {
  color: var(--clr-text);
  transform: scaleX(102%) scaleY(97%);
  transition: transform 0.2s;
}
.wiki-page-link:active .wiki-label {
  color: var(--clr-accent);
  transform: scaleX(99%) scaleY(94%);
  transition: transform 0.2s;
}

/* CHAR CREATION CSS BELOW */

.char-container {
  height: 100px;
  width: 100px;
}

.main {
  display: flex;
  border-radius: 5px;
  gap: 5px;
  padding: 5px;
  align-items: center;
  background-color: white;
}

.select-character {
  width: 100%;
  height: 100%;
}

.character-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
